:root{
    --primaryColor: #121212;
    --scondaryColor: #2B0A0C;
    --secondaryColoryVariant: #3F0C0B;
    --textColor: #D1C39E;
    --borderClary: #903127;
}

@import url('https://fonts.googleapis.com/css2?family=Bebas+Neue&family=Oswald:wght@200..700&display=swap');
